#aboutus {
    text-align:center;
}

#pricecart{
  text-align:right!important;
  float:right;
}


#logo:link {
    text-decoration: none;
    color: black;
}

#logo:visited {
    text-decoration: none;
    color: black;
}

#logo:hover {
    text-decoration: none;
    color: black;
}

#logo:active {
    text-decoration: none;
    color: black;
}

#checkoutDiv {
      text-align:center!important;
}


h1 {
    font-family: eds-market-bold-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    font-family: freight-text-pro, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    font-family: freight-text-pro, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-bottom: 15px;
}

h5 {
    font-family: freight-text-pro, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    text-align: center;
}


.navbar {
    text-align:center;
    max-width: 500px;
    margin: auto;
}

.card {
    margin: 10px;
}

#productimg {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#productimgcart {
    width: 50%!important;
}

#descripton {
    text-align:center;
}

#price {
    text-align:center;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width:100%;
  padding-bottom: 15px;
  padding-top: 5px;
}

#aboutus {
    text-align:center;
}

#pricecart{
  text-align:right!important;
  float:right;
}

#logo:link {
    text-decoration: none;
    color: black;
}

#logo:visited {
    text-decoration: none;
    color: black;
}

#logo:hover {
    text-decoration: none;
    color: black;
}

#logo:active {
    text-decoration: none;
    color: black;
}

#checkoutDiv {
      text-align:center!important;
}

.card-background {
    position: absolute;
    left: 0px; top: 0px;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* else image blocks bubbling?! */
}
.card-background IMG {
    background-size: cover;			
    width: 100%;
    height: 100%;
}

.popup-wrapper {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}

.popup a {
    padding: 6px 10px;
}